<!-- INÍCIO DO CONTEÚDO -->
      <section class="content-header">
        <h1>Sobre</h1>
      </section>

      <section class="content">
          <p class="lead">
            Meat | Aplicação que demonstra as features do Angular
          </p>
          <p class="lead">
            MIT license
          </p>
          <p class="lead">Curso realizado na COD3R (<a href="http://www.cod3r.com.br">http://www.cod3r.com.br</a>)</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ligula nisi, porttitor vel mollis eget, rutrum id sem. Sed et est diam. Mauris gravida mauris nec massa aliquam tincidunt. Etiam eu vulputate lacus. Pellentesque in ipsum fringilla, porttitor libero at, molestie ante. Etiam quis mauris augue. Vestibulum at ipsum mollis, ullamcorper risus quis, placerat lectus. Curabitur laoreet justo sit amet hendrerit sodales. Etiam imperdiet tristique libero, quis sagittis justo convallis sit amet. Integer et est augue. Morbi in luctus est.</p>
          <p class="lead">Cras ut orci id arcu aliquam porta. Curabitur quis tellus vitae tortor rhoncus vehicula. Aliquam in molestie tellus, at cursus metus. In congue dignissim commodo. Suspendisse posuere, ligula eu fringilla dictum, eros lorem luctus ligula, fermentum consequat nibh neque nec urna. Phasellus semper ex id purus dictum aliquam. Nam ac elementum metus, sit amet euismod risus. Duis dignissim tincidunt tellus a hendrerit. Nulla justo risus, tristique eget purus id, volutpat tristique ante. Aenean ut sollicitudin est, sit amet gravida ante. Cras ac velit in dui euismod hendrerit at a leo. Curabitur pretium augue non lectus iaculis ullamcorper. Pellentesque eget arcu facilisis, feugiat arcu nec, commodo tortor. Donec semper, nisl non cursus posuere, ipsum enim tempor quam, quis pretium leo ex vitae ipsum. Pellentesque mattis augue at diam ultrices interdum.</p>
          <p class="lead">
            Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
          </p>

        </section>
    <!-- FIM DO CONTEÚDO -->
