<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <div class="col-xs-6 d-inline">
    <h1 style="margin-top: 0px">
      Todos os Restaurantes
    </h1>
  </div>
  <!-- barra de busca-->  
  <div class="col-xs-6 d-inline">
    <div class="search-bar" [@toggleSearch]="searchBarState">
      <form [formGroup]="searchForm">
        <div class="form-group">
          <input type="text" formControlName="searchControl" #iptSearch class="form-control" placeholder="O que você está procurando?">
        </div>
      </form>
    </div>
  <!-- </div>
  <div class="col-xs-1 d-inline"> -->
    <a (click)="toggleSearch()" class="search-link pull-right" data-toggle="popover" title="Buscar">
      <h2 style="margin: 0px; display: inline-block;">
        <i class="fa fa-search"></i>
      </h2>
    </a>
  </div>
</section>
<section class="content">
  <div class="row">
    <div *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
      <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
    </div>
    <div *ngIf="restaurants?.length === 0" class="col-xs-12">
      <p class="lead text-center">
        Não foram encontrados itens para a sua busca.
      </p>
    </div>
  </div>
</section>

<!-- FIM  do CONTEÚDO -->